FYERS_APP_ID=ZVMCO3TRKK-100
FYERS_SECRET_KEY=X697X0UZMT
FYERS_REDIRECT_URL=https://trade.fyers.in/api-login/redirect-uri/index.html
FYERS_ACCESS_TOKEN=your_access_token
FYERS_REFRESH_TOKEN=your_refresh_token
FYERS_TOTP_SECRET=

GOOGLE_SERVICE_ACCOUNT_JSON=gsh-python-algo-714d3a4109a7.json
GOOGLE_SHEET_NAME=FyersTradeDashboard
LIVE_SHEET_NAME=LiveMarketData
TRADES_SHEET_NAME=Trades
PNL_SHEET_NAME=Pnl

WATCHLIST=NSE:RELIANCE-EQ,NSE:TCS-EQ,NSE:INFY-EQ,NSE:SBIN-EQ
